.ln_pan {
  background: url("../../../../public/gallery_1.png");
  /* background-color: var(--main-color); */
  width: 85%;
  background-repeat: no-repeat;
  height: 1200px;
  float: right;
  -moz-transition: background 5s ease;
  -webkit-transition: background 2s ease;
  transition: background 2s ease;
}

.ln_card_list {
  margin-top: 0;
  height: 520px;
  list-style: none;
  display: flex;
}

.ln_card_list_bottom {
  margin-top: 0;
  margin-left: 16.5%;
  height: 520px;
  list-style: none;
  display: flex;
}

.button {
  height: 60px;
  width: 150px;
  margin-right: 5px;
  background-color: var(--head-color);
  border: 0;
  opacity: 0.8;
  font-family: "Jura";
  font-size: 1em;
  color: aliceblue;
}

.button:hover {
  opacity: 1;
}

.div_button {
  margin-left: 42%;
}
