:root {
  --main-color: #ededed;
  --text-color: #ffffff;
  --secondary-color: #f64754;
  --background-color: #23263a;
  --head-color: #1b0866;
  --panel-color: #d6d6d6;
  --hover-color: #c4c4c4;
  --card-color: #9e9e9e;
}

html {
  font-size: 18px;
}

body {
  background-color: #fff;
  font-family: "Jura", "sans-serif";
  color: var(--text-color);
  background-color: var(--main-color);
}
